<mat-toolbar class="main-toolbar">
  <div class="navbar-left">
    <a routerLink="/" class="logo-link">
      <img src="assets/index/logo.png" alt="好神茶廠" class="logo-image">
    </a>
    <span class="logo-name">好神茶廠</span>
  </div>

  <div class="navbar-center">
    <button mat-button routerLink="/">首頁</button>
    <button mat-button [matMenuTriggerFor]="teaMenu">來品神茶</button>
    <mat-menu #teaMenu="matMenu">
      <button mat-menu-item [routerLink]="['/products']" [queryParams]="{ category: '綠茶' }">綠茶</button>
      <button mat-menu-item [routerLink]="['/products']" [queryParams]="{ category: '青茶' }">青茶</button>
      <button mat-menu-item [routerLink]="['/products']" [queryParams]="{ category: '烏龍茶' }">烏龍茶</button>
      <button mat-menu-item [routerLink]="['/products']" [queryParams]="{ category: '紅茶' }">紅茶</button>
      <button mat-menu-item [routerLink]="['/products']">所有茶品</button>
    </mat-menu>
    <button mat-button routerLink="/contact">聯絡我們</button>
    <button mat-button [matMenuTriggerFor]="aboutMenu">關於好神</button>
    <mat-menu #aboutMenu="matMenu">
      <button mat-menu-item routerLink="/brand-story">品牌故事</button>
      <button mat-menu-item routerLink="/faq">常見問題</button>
    </mat-menu>
  </div>

  <div class="navbar-right">
    <span *ngIf="!authService.isLoggedIn()" class="welcome-message">您好茶友，加入好神茶幫選購好茶</span>
    <span *ngIf="authService.isLoggedIn()" class="welcome-message">好神茶友歡迎您，開始挑選您的上品好茶</span>
    <button mat-icon-button (click)="toggleSearchOverlay()">
      <mat-icon>search</mat-icon>
    </button>
    <button mat-icon-button routerLink="/cart">
      <mat-icon>shopping_cart</mat-icon>
    </button>

    <button mat-icon-button *ngIf="!authService.isLoggedIn()" (click)="openAuthModal(0)"> <mat-icon>person_outline</mat-icon>
    </button>
    <button mat-icon-button *ngIf="authService.isLoggedIn()" [matMenuTriggerFor]="userMenu"> <mat-icon>person</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item routerLink="/profile">個人中心</button> <button mat-menu-item (click)="logout()">登出</button>
    </mat-menu>
  </div>
</mat-toolbar>

<div class="search-overlay" [class.active]="isSearchOverlayActive">
  <div class="search-backdrop" (click)="toggleSearchOverlay()"></div>
  <div class="search-panel">
    <button mat-icon-button class="close-button" (click)="toggleSearchOverlay()">
      <mat-icon>close</mat-icon>
    </button>
    <div class="search-input-container">
      <input type="text"
        placeholder="搜尋" [(ngModel)]="searchTerm"
        (keyup)="onSearchInput()"
        class="search-input">
      <button mat-icon-button class="search-button" (click)="executeSearch()">
        <mat-icon>search</mat-icon>
      </button>
    </div>

    <div class="search-results" *ngIf="searchTerm && filteredProducts.length > 0">
      <div *ngFor="let product of filteredProducts" class="search-result-item">
        <a [routerLink]="['/product', product.id]" (click)="toggleSearchOverlay()">
          <div class="search-result-info">
            <h4>{{ product.name }}</h4>
            </div>
        </a>
      </div>
    </div>
    <div class="no-results" *ngIf="searchTerm && filteredProducts.length === 0">
      沒有找到相關的茶品。 </div>
  </div>
</div>

<router-outlet></router-outlet>