<!-- src/app/auth/registration-success/registration-success.component.html -->

<mat-card class="registration-success-card">
  <mat-card-header>
    <mat-card-title *ngIf="!isAccountActivated">註冊成功！</mat-card-title>
    <mat-card-title *ngIf="isAccountActivated">帳戶已激活！</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="!isAccountActivated">
      <p>感謝您的註冊！我們已發送一封帳戶激活郵件到您的信箱。</p>
      <p>請檢查您的收件箱，點擊郵件中的連結以完成帳戶激活並設定密碼。</p>
      <p>如果您沒有收到郵件，請檢查您的垃圾郵件箱。</p>
    </div>
    <div *ngIf="isAccountActivated">
      <p>恭喜！您的帳戶已成功激活且密碼已設定。</p>
      <p>您現在可以使用您的電子郵件和新密碼登入。</p>
    </div>
    <button mat-raised-button color="primary" (click)="goToLogin()" class="full-width-button">前往登入</button>
  </mat-card-content>
</mat-card>